#root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.app {
  position: relative;
  height: 100dvh;
}

.app.sidebar-visible {
  display: grid;
  overflow: hidden;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar message"
  "sidebar board";
}

.app.sidebar-hidden {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "header"
  "message"
  "board";
}


.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.messages {
  grid-area: message;
}

@media (max-width: 800px) {
  .app.sidebar-visible {
    grid-template-columns: 260px 1fr;
    grid-template-rows: 80px 1fr;
  }

  .app.sidebar-hidden {
    grid-template-rows: 97px 1fr;
  }
}

@media (max-width: 500px) {
  .app.sidebar-visible, .app.sidebar-hidden {
    grid-template-rows: 64px 1fr;
    grid-template-columns: 100dvw;
    grid-template-areas: 
    "header"
    "message"
    "board";
  }

  .sidebar {
    position: absolute;
    top: 70px;
    left: 30px; 
    margin-left: auto; 
    margin-right: auto;
    min-width: 200px;
    max-width: 80dvw;
    width: fit-content; 
    grid-area: unset;
    height: fit-content;
  }
}