.add-new-column {
    cursor: pointer;
    margin: 50px 0 50px 0;
    min-width: 280px;
    height: 100% - 100px;
    background: rgb(175, 182, 185, .1);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dark .add-new-column {
    background: #20212C;
}

.add-new-column h3 {
    color: #828FA3;

}