.button-small {
    border: none;
    padding: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

/* primary button styles */
.button-small.primary {
    color: #FFFFFF;
    background: #635FC7;
}

.button-small.primary:hover {
    background: #A8A4FF;
}

/* secondary button styles */
.button-small.secondary {
    color: #635FC7;
    background: rgba(99, 95, 199, 0.1);
}

.button-small.secondary:hover {
    background: rgba(99, 95, 199, 0.25);
}

#dark .button-small.secondary {
    background: #FFFFFF;
}

#dark .button-small.secondary:hover {
    background: #FFFFFF;
}

/* destructive button styles */
.button-small.destructive {
    color: #FFFFFF;
    background: #EA5555;
}

.button-small.destructive:hover {
    background: #FF9898;
}
    