/* .droppable-column {
    height: fit-content;
}

.column .task {
    margin: 20px 0;
}

.column .column-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 24px 0 24px 0;
}

.column .column-header .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
} */