.delete-modal {
    background: #FFFFFF;
    height: fit-content;
    padding: 32px 32px 40px 32px;
    width: 100%;
}

.delete-modal h2 {
    color: #EA5555;
    margin-bottom: 24px;
}

.delete-modal button {
    width: 40%;
}

.delete-modal button:first-of-type {
    margin-right: 16px;
}

.delete-modal .action-buttons {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}