.header {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: solid #E4EBFA;
    background: #FFFFFF;
}

#dark .header {
    background: #2B2C37;
    border-bottom: solid #3E3F4E;
}

#dark .header h2 {
    color: #FFFFFF;
}


.header .header-title {
    display: flex;
    align-items: center;
}

.header .header-title hr {
    height: 97px;
    width: 2px;
    background: #E4EBFA;
    margin: 0 32px;
    border: none;
}

.header .header-title img {
    width: 152px;
    height: 25px;

}

.header .header-actions {
    display: flex;
    align-items: center;
}

.header .header-actions button {
    margin-right: 24px;
}

@media (max-width: 500px) {
    .header .header-actions button {
        padding: 6px 20px;
    }
}