.more-actions {
    position: relative;
}

.more-actions img {
    cursor: pointer;
    padding: 10px;
}

.more-actions ul {
    box-sizing: border-box;
    margin: 0;
    padding: 16px;
    z-index: 5;
    position: absolute;
    top: 50px;
    left: -120px;
    background: #FFFFFF;
    width: 150px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    border-radius: 8px;
}

.more-actions ul li {
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    cursor: pointer;
}

.more-actions .edit {
    color: #828FA3;
}

.more-actions .delete {
    color: #EA5555;
}