.sidebar {
    background: #FFFFFF;
    padding: 32px 24px 32px 0;
    width: 300px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid #E4EBFA;
}

.sidebar .logo-light, #dark .sidebar .logo-dark {
    display: none;
}

.sidebar .logo-dark, #dark .sidebar .logo-light {
    display: block;
}

#dark .sidebar {
    background: #2B2C37;
    border-right: solid #3E3F4E;
}


.sidebar .sidebar-boards img, .sidebar .sidebar-boards h4 {
    margin-left: 32px;
}

.sidebar h4 {
    margin-top: 54px;
}

.sidebar .sidebar-board:first-of-type {
    margin-top: 19px;
}

.sidebar .create-new-board {
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-left: 32px;
}

.sidebar .create-new-board svg {
    margin-right: 16px;
    fill: #635FC7;
}

.sidebar .create-new-board h3 {
    color: #635FC7;
    cursor: pointer;
}

.sidebar .dark-mode-toggle {
    margin: 0 24px 0 24px;
    width: 250px;
}