.sign-in-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    gap: 20px;
    background: #E4EBFA;
    padding: 40px;
}

.sign-in-wrapper .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.sign-in-wrapper .sign-in-error {
    color: red;
}

.sign-in-wrapper .sign-in-form .credentials {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70%;
    min-width: 200px;
}

.sign-in-wrapper .sign-in .credentials input {
    width: 100%;
}

.sign-in-wrapper button {
    width: 200px;
}

.sign-in-wrapper .sign-in-other-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.sign-in-wrapper input {
    width: 100%;
    padding: 8px 0 9px 16px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #000112;

}

#dark .sign-in-wrapper input {
    background: #2B2C37;
    color: #FFFFFF;
}
