.subtask {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
}

#dark .subtask {
    background: #20212C;
}

.subtask, .subtask.completed:hover {
    padding: 12px;
    background: #F4F7FD;
    border-radius: 4px;
    display: flex;
}

.subtask input {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0;
    accent-color: #635FC7;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(130, 143, 163, 0.248914);
}

.subtask input[type=checkbox]:not(:checked):before {
    position: absolute;
    width: 16px;
    height: 16px;
    content: '';
    border-radius: 2px;
    border: 1px solid rgba(130, 143, 163, 0.248914);
    background-color: #FFFFFF;
}

#dark .subtask input[type=checkbox]:not(:checked):before {
    background-color: #2B2C37;
}

.subtask p {
    margin: 0 0 0 15px;
}

#dark .subtask p {
    color: #FFFFFF;
}

.subtask.completed {
    background: #F4F7FD;
}

.subtask.completed p {
    text-decoration: line-through;
    color: #000112;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.subtask:hover {
    background: rgb(99, 95, 199, .25);
}
