.view-task {
    padding: 32px;
    background-color: #FFFFFF;
}

.view-task .view-task-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.view-task .view-task-header h2 {
    width: 100%;
}

.view-task .view-task-header img {
    margin-left: 20px;
}

.view-task .subtask:not(:last-child) {
    margin-bottom: 8px;
}

.view-task .status-section {
    margin-top: 24px;
}