.view-task {
    padding: 32px;
    width: 480px;
    background-color: #FFFFFF;
}

#dark .view-task {
    background: #2B2C37;
}

#dark .view-task h2 {
    color: #FFFFFF;
}

#dark .view-task h4 {
    color: #FFFFFF;
}

.view-task .view-task-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.view-task .view-task-header h2 {
    width: 100%;
}

.view-task .view-task-header img {
    margin-left: 20px;
}

.view-task .subtask:not(:last-child) {
    margin-bottom: 8px;
}

.view-task .subtask-section {
    margin-top: 24px;
}

.view-task .subtask-section h4 {
    margin-top: 16px;
}

.view-task .status-section {
    margin-top: 24px;
}

.view-task .section h4 {
    margin-bottom: 8px;
}

#dark .view-task .status-section p {
    color: #FFFFFF;
}