#root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.app {
  position: relative;
  height: 100dvh;
}

.app.sidebar-visible {
  display: grid;
  overflow: hidden;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 97px 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar board";
}

.app.sidebar-hidden {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: 97px 1fr;
  grid-template-areas: 
  "header"
  "board";
}


.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.content {
  background: #E4EBFA;
  grid-area: board;
  width: 100%;
  height: calc(100vh - 82px);
  display: flex;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content::-webkit-scrollbar {
  display: none;
}

#dark .content {
  background: #20212C;
}

.content .column {
  width: 250px;
  margin: 0 24px 0 24px;
}

.content .show-sidebar {
  position: absolute;
  bottom: 50px;
}

@media (max-width: 800px) {
  .app.sidebar-visible {
    grid-template-columns: 260px 1fr;
    grid-template-rows: 80px 1fr;
  }

  .app.sidebar-hidden {
    grid-template-rows: 97px 1fr;
  }
}

@media (max-width: 500px) {
  .app.sidebar-visible, .app.sidebar-hidden {
    grid-template-rows: 64px 1fr;
    grid-template-columns: 100dvw;
    grid-template-areas: 
    "header"
    "board";
  }

  .sidebar {
    position: absolute;
    top: 70px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
    grid-area: unset;
    height: fit-content;
  }
}